<!DOCTYPE html>
<html>
	<head>
		<title>Jason's One Month Python Yelp Flask App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				{% if businesses %}
					<h1>Great restaurants in your area!</h1>
						<ol>
						{% for business in businesses %}
							<li class="bg-info">{{ business.name }} is rated {{ business.rating}}</li>
								<ul>
									<li><strong>Address:</strong> {{ business.address[0] }}, {{ business.address[1] }} {{ business.address[2] }}</li>
									<li><strong>Phone:</strong> {{business.phone }}</li>
								</ul>
						{% endfor %}
						</ol>
					<p><a href="{{ url_for('index')}}">Look up another address</a></p>
				{% else %}
					<h1>Tell me where you're at and I'll recommend some restaurants.</h1>
					<form action="/" class="form-inline">
						<div class="form-group">
							<input type="text" name="address" placeholder="Address or City, St or Zip" class="form-control">
							<input type="submit" name="Let's Eat" class="btn btn-primary">
						</div>
					</form>
				{% endif %}
				<p><a href="{{ url_for('about')}}">About this project</a></p>
			</div>
		</div>
	</body>
</html>